<div class="hero-header">
  <div class="main-text">Bare BnB</div>
  <div class="sub-text">A place to find your own paradise</div>
</div>
<div class="div-one">
  <div class="para-one">
    <h1>About Us</h1>
    Barebnb hosts share their spaces in 190 countries and more than 34,000 cities. All you have to do is enter your destination and travel dates into the search bar to discover distinctive places to stay, anywhere in the world. 
    <br>
    Once you know where you’re traveling and whose space you'll be staying in, all you have to do is get going! </div>
  <div class="para-two">
    <h1>Why use us</h1>
   We display photos of listings, host profiles, and reviews to help you make informed decisions when considering a host's space. We've also created search filters so you can narrow your results by type of accommodation, price, and location. For example, if you’re looking to make friends and stay with a host, select Private Room or Shared Room. Or if you’re looking for an entire space to call your own, go ahead and select the Entire Place filter. 
  </div>
</div>